.App {
    
    max-width: 700px;
    margin: 30px auto;
}

.App footer{
    font-size: 12px;
    margin: 10px 0;
    font-family: "IBM Plex Sans Condensed", Arial, Helvetica, sans-serif;
    font-family: "Oxygen", sans-serif;
   
}
.App footer a{
    text-decoration: none;
}