.Weather {
    border: 1px solid #dadde1;
    font-family: "IBM Plex Sans Condensed", Arial, Helvetica, sans-serif;
    font-family: "Oxygen", sans-serif;
    background: linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%);
    padding: 16px;
    border-radius: 4px;
}


.Weather h1{
    color: #878787;
    color: rgb(33, 33, 33);
    margin: 20px 0 0 0;
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    
}

.Weather ul{
    margin: 0;
    padding: 0;
}

.Weather li{
    list-style: none;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

.Weather .clearfix canvas {
height: 64px;
width: 64px;
line-height: 45px;
display:inline-block;
vertical-align: top;


}

.Weather .today-temp {
font-weight: bold;
color: rgb(33, 33, 33);
font-size: 64px;
line-height: 64px;
font-weight: 400;
margin-left: 75px;
}

.Weather .unit{
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400px;
    position: relative;
    line-height: 1;
    top: -30px;
    
}

.Weather .unit a{
    text-decoration: none;
}

.Weather .WeatherTemperature {
    position: relative;
    top: -63px;
}
.btn-primary {
    background-color: #1B9C85;
    border-color: #1B9C85;
}

.btn-primary:hover {
    background-color: #E8F6EF;
    border-color: #E8F6EF;
    color: #4C4C6D;
}